[run]
# Exclude paths from coverage analysis
omit =
    */migrations/*,    
    manage.py,       
    setup.py,
    MAAMS_NG_BE/utils.py,
    sso_ui/config.py,
    */apps.py,          
    */models/__init__.py, 
    */admin.py,       
    */base_model.py,
    */settings.py,
    */site-packages/*,
    */dist-packages/*,
    */tests/*

[report]
# Show coverage statistics in terminal
show_missing = true